<%= form_for @cohorts do |f| %>
    <div id="newinstructor">
    <div>
      <% f.label :name %>Name: 
      <%= f.text_field :name %>
    </div>
  
    <div>
      <% f.label :start_hours%> Star date: 
      <%= f.date_field :start_date %>
    </div>

    <div>
    <% f.label :end_hours%> End date: 
    <%= f.date_field :end_date %>
  </div>

  <div>
  <% f.label :instructor_id%> Instructor: 
  <%= f.number_field :instructor_id %>
</div>
  
<div>
<% f.label :course_id%> Course: 
<%= f.number_field :course_id %>
</div>
    
    
    <div>
      <%= f.submit %>
      <%= link_to 'Back', '/cohorts' %>
    </div>

    </div>
  <% end %>

 