

 
 <div class="pusher">

<div id ="showinstructor">
<% if current_user && current_user.admin %>
<table class="ui fixed single line celled table">
<thead>
  <tr><th>Name</th>
  <th>Update</th>
</tr></thead>
<tbody>
<% @cohorts.each do |coho| %>
    <tr>
    <div id ="cohort-<%=coho.id%>">
    <td> <%= coho.name %></td>
    <td><%= link_to 'Show', coho %>
        <%= link_to 'Edit', edit_cohort_path(coho) %>
        <%= link_to 'Destroy', cohort_path(coho), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %>
        </td>
        </div>
       </tr>
       
    <%end%>
    </tbody>
    </table>
  <%else%>
  <table class="ui fixed single line celled table">
  <thead>
  <tr><th>Name</th>
  <th>See more</th>
</tr></thead>
<tbody>
<tr>
  <td> <%= @cohorts.name %></td>
 <td><%= link_to 'Show', @cohorts %></td>
  </tr>
  </tbody>
  </table>
  <%end%>
</div>
 </div>