

<div id="showinstructor">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cohorts.name %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @cohorts.start_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%= @cohorts.end_date %>
</p>
<p>
  <strong>Instructor:</strong>
  <%= @instructor.name %>
</p>
<p>
  <strong>Course :</strong>
  <%= @cohorts.course_id %>
</p>
<%= link_to 'Edit', edit_cohort_path(@cohorts)%> 
<%= link_to 'Back', '/cohorts' %>
</div>