<div id="main" class="ui vertical inverted left visible sidebar menu" style= "background-image: linear-gradient(to left top, #7b8ba1, #657791, #4f6482, #395172, #233f63);">
   <a href="/"> <h1 id="logo">Cohort</h1></a>
   
  
   <a class="item" href="/cohort/new" style= "margin-top:100px;" id="first">
   Add 
   </a>
   <a class="item" href="/cohort/edit">
     Edits
   </a>
  
 </div>

<div id="showinstructor">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cohorts.name %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @cohorts.start_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%= @cohorts.end_date %>
</p>
<p>
  <strong>Instructor:</strong>
  <%= @instructor.name %>
</p>
<p>
  <strong>Course :</strong>
  <%= @cohorts.course_id %>
</p>
<%= link_to 'Edit', edit_cohort_path(@cohorts)%> 
<%= link_to 'Back', '/cohorts' %>
</div>