<%= form_for @student do |f| %>
    <div id="newinstructor">
    <div>
      <% f.label :name %>Name: 
      <%= f.text_field :name %>
    </div>
  
    <div>
      <% f.label :last_name%> Star date: 
      <%= f.date_field :last_name %>
    </div>

    <div>
    <% f.label :age%> Age: 
    <%= f.number_field :age %>
  </div>

  <div>
  <% f.label :email%> Email: 
  <%= f.text_field :email %>
</div>
  
<div>
<% f.label :password%> Course: 
<%= f.password_field :password %>
</div>

<div>
<% f.label :cohort_id%> Cohort: 
<%= f.text_field :cohort_id %>
</div>

    <div>
      <%= f.submit %>
      <%= link_to 'Back', '/students' %>
    </div>

    </div>
  <% end %>

 