<div class="ui form">
<%= form_for @student do |f| %>
    
    <div class="field">
      <% f.label :name %>Name: 
      <%= f.text_field :name %>
    </div>
  
    <div class="field">
      <% f.label :last_name%> Star date: 
      <%= f.date_field :last_name %>
    </div>

    <div class="field">
    <% f.label :age%> Age: 
    <%= f.number_field :age %>
  </div>

  <div class="field">
  <% f.label :email%> Email: 
  <%= f.text_field :email %>
</div>
  
<div class="field">
<% f.label :password%> Course: 
<%= f.password_field :password %>
</div>

<div class="field">
<% f.label :cohort_id%> Cohort: 
<%= f.text_field :cohort_id %>
</div>

    <div class="ui button">
      <%= f.submit %>
      
    </div>

    <div class="ui button">
     <%= link_to 'Back', '/students' %>
    </div>

    </div>
  <% end %>

 