<div class="ui form">
<%= form_for @student do |f| %>
    
    <div class="field">
      <% f.label :name %>Name: 
      <%= f.text_field :name %>
    </div>
  
    <div class="field">
      <% f.label :last_name%> lastname: 
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
    <% f.label :age%> Age: 
    <%= f.number_field :age %>
  </div>

  <div class="field">
  <% f.label :email%> Email: 
  <%= f.text_field :email %>
</div>
  
<div class="field">
<% f.label :password%> Password: 
<%= f.password_field :password %>
</div>

<div class="field">
<% f.label :cohort_id%> Cohort: 
<%= f.select(:cohort_id) do %>
                <% @cohorts.order('name ASC').each do |cohort_select| %>
                  <%= content_tag(:option, cohort_select.name, value: cohort_select.id) %>
                <% end %>
            <% end %>
</div>
    <div class="btn">
    <div class="actions">
    <%= f.submit "submit", :class => "ui positive button active"%>
      
    </div>

    <div class="ui button">
     <%= link_to 'Back', '/students' %>
    </div>
    </div>
    </div>
  <% end %>

 