

 
 <div class="pusher">
<div id ="showstudent">
<% if current_user && current_user.student %>
    <h1 id="onestudent"> <%= @student.name %></h1>
    <h4><%= link_to 'Show', @student %></h4>
  
<%else%>

<% @student.each do |one| %>
    <div id="student-<%=one.id%>">
    <h1> <%= one.name %></h1>
    <h4><%= link_to 'Show', one %></h4>
        <h4><%= link_to 'Edit', edit_student_path(one) %></h4>
        <%= link_to 'Destroy', student_path(one), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %>
        </div>
    <%end%>
    
<%end%>
</div>

</div>