

 
 <div class="pusher">
<div id ="showstudent">
<% if current_user && current_user.student %>
<table class="ui fixed single line celled table">
<thead>
  <tr><th>Name</th>
  <th>Lastname</th>
  <th>Email</th>
  <th>Update</th>
</tr></thead>
<tbody>
<tr>
    <td id="onestudent"> <%= @student.name %></td>
    <td> <%= @student.last_name%></td>
    <td> <%= @student.email%></td>
    <td><%= link_to 'Show', @student %></td>
  </tr>

<%else%>
<table class="ui fixed single line celled table">
<thead>
  <tr><th>Name</th>
  <th>Lastname</th>
  <th>Email</th>
  <th>Update</th>
</tr></thead>
<tbody>
<% @student.each do |one| %>
    <tr>
    <div id="student-<%=one.id%>">
    <td> <%= one.name %></td>
    <td><%= one.last_name %></td>
    <td ><%= one.email %></td>
       <td id="update"> 
       <%= link_to 'Show', one %>
       <%= link_to 'Edit', edit_student_path(one) %>
        <%= link_to 'Destroy', student_path(one), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %></td>
        </div>
        </tr>
    <%end%>
    
<%end%>
</div>

</div>