<div id="student-<%=@student.id%>">
<div id="showinstructor">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email%>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @cohort.name %>
</p>

<% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_student_path(@student)%> 
<%= link_to 'Destroy', student_path(@student), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %>
<%end%>
<%= link_to 'Back', '/students' %>
</div>