


  <div class="pusher">
  <div id ="showinstructor">
 
  <% if current_user && current_user.admin %>
<p id='addnew'> <%= link_to ' Add new instructor', new_instructor_path(@instructor) %> </p>
<%end%>
<%if current_user && current_user.student %>
<table class="ui fixed single line celled table">
<thead>
  <tr><th>Name</th>
  <th>Status</th>
  <th>Email</th>
</tr></thead>
<tbody>
    <tr>
    <td> <%= @instructor.name %> </td>
    <td> <%= @instructor.last_name %> </td>
    <td> <%= @instructor.email %> </td>
    </tr>
<%else %>
<table class="ui fixed single line celled table">
<thead>
  <tr><th>Name</th>
  <th>Status</th>
  <th>Email</th>
  <th>Update</th>
</tr></thead>
<tbody>
<% @instructor.each do |inst| %>
    <tr>
    <div id="instructor-<%=inst.id%>">
    <td><%= inst.name %></td>
    <td><%= inst.last_name %></td>
    <td><%= inst.email %> </td>
    
    <td id="update"><%= link_to 'Show', inst %>
    <% if current_user && current_user.admin %>
    <%= link_to 'Edit', edit_instructor_path(inst)%> 
    <%= link_to 'Destroy', instructor_path(inst), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
    </tr>
        <%end%>
   
   <%end%>
   </div>
   </div>
