


  <div class="pusher">
  <div id ="showinstructor">
<%if current_user && current_user.student %>
    <h1> <%= @instructor.name %> </h1>
    <h1> <%= @instructor.last_name %> </h1>
    <h1> <%= @instructor.email %> </h1>
<%else %>
<% @instructor.each do |inst| %>

    <h1> <%= inst.name %></h1>
    <h1> <%= inst.email %> </h1>
    
    <h4><%= link_to 'Show', inst %></h4>
        <h4><%= link_to 'Edit', edit_instructor_path(inst) %></h4>
        <%end%>
   
   <%end%>
   </div>
   </div>
