<div id="instructor-<%=@instructor.id%>">
<div id="showinstructor">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @instructor.last_name %>
</p>
<p>
  <strong> Email:</strong>
  <%= @instructor.email %>
</p>
<p>
  <strong>Cohort</strong>
  <%if @cohort.nil?%>
  <a>Not assigned to a Cohort</a>
  <%else%>
  <a href="/cohorts/<%=@cohort.id%>"><%=@cohort.name%></a>
  <%end%>
</p>

<% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_instructor_path(@instructor)%> 
<%= link_to 'Destroy', instructor_path(@instructor), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %>
<%end%>
<%= link_to 'Back', '/instructors' %>
</div>