<div id="showinstructor">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @instructor.last_name %>
</p>
<p>
  <strong> Email:</strong>
  <%= @instructor.email %>
</p>
<p>
  <strong>Cohort</strong>
  <a href="/instructors/cohorts/<%=@cohort.id%>"><%=@cohort.name%></a>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor)%> 
<%= link_to 'Back', '/instructors' %>
</div>