
<div class="ui form">
  <%= form_for @courses do |f| %>

    <div class="field">
      <% f.label :name%>Name:
      <%= f.text_field :name%>
    </div>

    <div class="field">
      <% f.label :total_hours%> Total Hours: 
      <%= f.number_field :total_hours %>
    </div>
    <div class="btn">
    <div class= "actions">
    <%= f.submit "submit", :class => "ui positive button active"%>
      </div>
      <div class="ui button">
      <%= link_to 'Back', '/courses' %>
    </div>
    </div>
    <% end %>

    </div>
  
  
  