


 
 <div class="pusher">

<div id ="showinstructor">
<% if current_user && current_user.admin %>
<p id='addnew'> <%= link_to ' Add new course', new_course_path(@courses) %> </p>
<%end%>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<table class="ui fixed single line celled table">
<thead>
  <th>Name</th>
  <th>See more</th>
  </thread>
  <tbody>

<% @courses.each do |cours| %>
    <div id ="courses-<%=cours.id%>">
    <tr>
    <td> <%= cours.name %></td>
    <td><%= link_to 'Show', cours %>
    <% if current_user && current_user.admin %>
        <%= link_to 'Edit', edit_course_path(cours) %>
        <%= link_to 'Destroy', course_path(cours), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %>
     <%end %>
     </td>
        </div>
     </tr>
    <%end%>

   
</div>
 </div>