<div id="courses-<%=@courses.id%>">
<div id="showinstructor">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @courses.name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @courses.total_hours %>
</p>

<% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_course_path(@courses)%> 
<%= link_to 'Destroy', course_path(@courses), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %>
<%end%>
<%= link_to 'Back', '/courses' %>
</div>
</div>