<!DOCTYPE html>
<html>
  <head>
    <title>Pamela</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </head>

<script>
setTimeout("$('.notice').fadeOut(2000)",100);
</script>


  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="ui top fixed menu">
  
   <% if current_user %>
<h1> <%= link_to 'Sign out', destroy_user_session_path, method: :delete , :class => "signout"%> </h1>
<div id="main" class="ui vertical inverted left visible sidebar menu" style= "background-image: linear-gradient(to left top, #7b8ba1, #657791, #4f6482, #395172, #233f63);">
   <h1 id="mainlogo">NYCDA</h1>
   <% if current_user.admin %>
    <img id="adminimg"src="http://ubiatarplay.io/wp-content/uploads/2018/03/04_avatar_neutral.png">
   <%elsif current_user.student%>
   <img id="adminimg" src="https://vignette.wikia.nocookie.net/southpark/images/9/9d/Tweek_pic.png/revision/latest?cb=20160402115548">
   <%else%>
   <img id="adminimg" src="https://cdn180.picsart.com/230134075046212.png?r1024x1024">
   <%end%>
  
   <a id="reload"class="item" href="/">

     Dashboard <i class="home icon"></i>
   </a>
   <a class="item" href="/instructors">
     Instructors <i class="user md icon"></i>
   </a>
   <a class="item" href="/students">
     Students <i class="users icon"></i>
   </a>
   <a class="item" href="/cohorts">
     Cohorts <i class="calendar alternate icon"></i>
   </a>
   <a class="item" href="/courses">
     Courses <i class="graduation cap icon"></i></i>
   </a>
  
 </div>
 
 <div class="pusher">
   <!-- Site content !-->
   
   </div>
<%else %>

<h1 id="logo">NYCDA</h1>
   <div class="ui compact menu">
   
  <div class="ui simple dropdown item">
    Sign in
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item"><%= link_to 'Student', new_user_session_path %></div>
      <div class="item"><%= link_to 'Instructor', new_user_session_path %></div>
      <div class="item"><%= link_to 'Admin', new_user_session_path %></div>
    </div>
  </div>
  
  <% if !current_user %>
  <h1 id="logo">NYCDA</h1>
<div id="minion" class="right rail">
  <img src="https://i.gifer.com/7OQ5.gif">
  </div>
  <%end%>
  <%end%>
</div>

</div>
  

    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </body>
  <script>
 document.getElementById('reload').addEventListener('click', (e)=>{
            window.location.reload()
        })
  </script>
</html>
